.wp-block-h2ml-grid-area {
	// Styles
    position: relative;
	backdrop-filter: blur(2px);
	overflow: hidden;
	// Descendent Selectors
	> .block-list-appender.block-list-appender {
		// Styles
		margin: var(--h2ml-grid-helper-spacing);
		width: calc(100% - (2 * var(--h2ml-grid-helper-spacing)))
	}
}