.animateOnScrollWrapper, :is(.animateOnScrollWrapper) {
	//
    overflow: visible !important;
	min-height: 100% !important;
	min-width: 100% !important;
	//
	> *:where(:not(.alignleft):not(.alignright):not(.alignfull)) {
		margin-left: auto;
		margin-right: auto;
		max-width: var(--wp--style--global--content-size);
	}
}
