body {
	overflow-x: hidden;
	height: 100%;
}

.animateOnScrollWrapper {
	// Styles
    overflow: visible;
	width: inherit;
	height: inherit;
	position: relative;
	
	// Descendent Selectors 
	> * {
		transform-origin: 0 0;
	}

	> *:where(:not(.alignleft):not(.alignright):not(.alignfull)) {
		margin-left: auto;
		margin-right: auto;
	}
}

body .is-layout-flex {
	// Descendent Selectors 
	.animateOnScrollWrapper > * {
		margin: 0;
	}
}

.animateOnScrollWrapper:has(.fillGridArea) {
	height: 100%;
}