/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-h2ml-grid-area {
	// Styles
    position: relative;
	backdrop-filter: blur(2px);
	// Descendent Selectors
	> .block-list-appender.block-list-appender {
		// Styles
		margin: var(--h2ml-grid-helper-spacing);
		width: calc(100% - (2 * var(--h2ml-grid-helper-spacing)))
	}
	//
	/*
	*:not(.block-list-appender) {
		height: 100% !important;
		width: 100% !important;
	}
	*/
}