// Inspector Styles
.h2mlGridSettingsPanel {
	--input-inset: 10px;
	// Descendent Selectors
	.components-panel__body {
		border: none;
	}
	.components-base-control {
		// Styles
		margin-bottom: 0;
		// Descendent Selectors
		.components-base-control__help, 
		.components-input-control__container, 
		.components-text-control__input, 
		.components-range-control__root {
			// Styles
			margin-left: var(--input-inset);
			width: calc(100% - var(--input-inset));
		}
		.components-range-control__number {
			margin-bottom: 0;
		}
	}
	.components-tools-panel {
		// Styles
		padding: 0;
		border-top: none;
		//
		.components-tools-panel-header {
			padding: calc(var(--input-inset) / 2) 0;
		}
	}
}

// Block Styles
.wp-block-h2ml-grid {
	// Styles
	display: grid;
	grid-auto-columns: 1fr;
	// Descendent Selectors
	> div {
		// Styles
		display: contents;
	}
	> .grid-helpers {
		// Descendent Selectors
		> .grid-area-helper {
			// Styles
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: calc(var(--h2ml-grid-helper-font-size) / 4);
			box-sizing: border-box;
			padding: var(--h2ml-grid-helper-spacing) calc(var(--h2ml-grid-helper-spacing) * 2);
			margin: calc(var(--h2ml-grid-helper-spacing) / 3);
			background: #ffffff3f;
			font-size: var(--h2ml-grid-helper-font-size);
			font-weight: bold;
			user-select: none;
			border-radius: calc(var(--h2ml-grid-helper-border-radius) / 2);
			border: 1px dotted var(--h2ml-grid-contrast-color);
			// Descendent Selectors
			> span {
				// Styles
				color: #fff;
				mix-blend-mode: difference;
				// Descendent Selectors
				> sub {
					// Styles
					font-weight: normal;
					translate: 0 calc(var(--h2ml-grid-helper-font-size) / 3);
				}
			}
		}
		> .grid-adding-grid-areas-notice {
			// Styles
			display: none;
			align-items: center;
			justify-content: center;
			grid-column: 1 / -1;
			font-size: 0.75rem;
			text-align: center;
			user-select: none;
			height: min-content;
   			background: red;
    		align-self: end;
		}
		> .grid-grid-area-appender {
			// Styles
			position: relative;
			z-index: 1;
			display: none; // This is set to 'flex' later.
    		align-items: flex-end;
    		justify-content: flex-end;
			border-radius: 2px;
    		box-shadow: inset 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
    		outline: 2px solid transparent;
			pointer-events: none;
			// Descendent Selectors
			button {
				// Styles
				margin: var(--h2ml-grid-helper-spacing);
			}
		}
	}
	> .grid-grid-areas {
		// Descendent Selectors
		.grid-grid-area-appender-wrap {
			// Styles
			display: contents;
			// Descendent Selectors
			> .addNewGridAreaContainer {
				grid-column: 1/-1;
				align-self: end;
				justify-self: end;
				height: -moz-min-content;
				height: min-content;
				width: max-content;
				margin: calc(var(--h2ml-grid-helper-spacing) / 2);
				padding: calc(var(--h2ml-grid-helper-spacing) / 1.5);
				padding-left: var(--h2ml-grid-helper-spacing);
				font-size: 0.75rem;
				background: var(--h2ml-grid-background-color);
				border-radius: var(--h2ml-grid-helper-border-radius);
				box-shadow: 0 0 10px -5px var(--h2ml-grid-contrast-color);
			}
			> .addNewGridAreaContainer > .addNewGridAreaWrap {
				// Styles
				display: flex;
				align-items: center;
				gap: 0.5rem;
			}
			> .addNewGridAreaContainer > .addNewGridAreaWrap button {
				// Styles
				padding: 0;
				background: #1e1e1e;
				color: #fff;
			}
			> .addNewGridAreaContainer > .addNewGridAreaWrap button:hover {
				// Styles
				background: var(--wp-admin-theme-color);
			}
		}
	}
	&:not(.is-selected) {
		// Descendent Selectors
		> .grid-helpers {
			// Descendent Selectors
			> .grid-grid-area-appender {
				// Descendent Selectors
				button {
					// Styles
					pointer-events: none;
				}
			}
		}
		> .grid-grid-areas {
			// Descendent Selectors
			> .grid-grid-area-appender-wrap {
				// Styles
				display: none;
			}
		}
	}
	&.is-selected {
		// Descendent Selectors
		> .grid-helpers {
			// Descendent Selectors
			> .grid-adding-grid-areas-notice {
				// Styles
				display: flex;
			}
			> .grid-grid-area-appender {
				// Descendent Selectors
				button {
					// Styles
					pointer-events: all;
				}
			}
		}
	}
}
